<div class="mt-3" *ngIf="invalidTransactionsReport?.invalidTransactionList.length === 0">
  No Invalid transactions detected
</div>
<table class="table mt-3" *ngIf="invalidTransactionsReport?.invalidTransactionList.length > 0">
  <thead>
    <tr>
      <th scope="col">Transaction Reference</th>
      <th scope="col">Transaction Description</th>
      <th scope="col">Error(s) Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invalidTransaction of invalidTransactionsReport.invalidTransactionList">
      <td>
        {{invalidTransaction.transaction.transactionReference}}
      </td>
      <td>
        {{invalidTransaction.transaction.description}}
      </td>
      <td>
        <span *ngFor="let errorMessage of invalidTransaction.errorMessages">
        {{errorMessage}}
        </span>
      </td>
    </tr>
  </tbody>
</table>

