<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col form-group">
          <label for="fileUpload" class="font-weight-bold">Upload transactions:</label>
          <input type="file" (change)="handleFileInput($event.target.files)" class="form-control-file" id="fileUpload">
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="validationSelect" class="font-weight-bold">Select validation location:</label>
          <select [(ngModel)]="validationLocation" class="form-control" id="validationSelect">
            <option class="client_side" [ngValue]="locations.CLIENT_SIDE">Validate Client side</option>
            <option class="server_side" [ngValue]="locations.SERVER_SIDE">Validate Server side</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="handleFileUploadService.errorMessages">
        <div class="col">
      <span *ngFor="let errorMessage of handleFileUploadService.errorMessages">
        {{ errorMessage }}
      </span>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="uploadInProgress" (click)="handleFormSubmission()">Validate Transactions</button>
      <app-invalid-transactions-report [invalidTransactionsReport]="invalidTransactionReport">
      </app-invalid-transactions-report>
    </div>
  </div>
</div>
